/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {

}

.theme-light .page {
  --bg-color: #fff1f7;                         /* Цвет фона страницы */
  --bg-image: url(../images/cover-image-light.png);  /* Фоновое изображение */
  --header-footer-color: #ffc2e6;              /* Цвет заголовка и подвала */
  --header-footer-shadow: 4px 4px 0 var(--accent-color); /* Тень для заголовка и подвала */
  --link-shadow: 2px 2px 0 var(--accent-color);          /* Тень для ссылок */

  --rec-visibility: hidden;

  --text-color: #353430;                
  --accent-color: #ff8dcb;  
  --color-primary: #353430;
  --color-primary-40: rgba(53, 52, 48, 0.4);          
  --secondary-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;                         /* Цвет фона страницы */
    --bg-image: url(../images/cover-image-light.png);  /* Фоновое изображение */
    --header-footer-color: #ffc2e6;              /* Цвет заголовка и подвала */
    --header-footer-shadow: 4px 4px 0 var(--accent-color); /* Тень для заголовка и подвала */
    --link-shadow: 2px 2px 0 var(--accent-color);          /* Тень для ссылок */
  
    --rec-visibility: hidden;
  
    --text-color: #353430;                
    --accent-color: #ff8dcb;  
    --color-primary: #353430;
    --color-primary-40: rgba(53, 52, 48, 0.4);          
    --secondary-color: #353430;
  }
}
