:root {
  --font-family: "IBM Plex Mono", sans-serif;
  --header-footer-padding: 10px;
  --main-padding-block: 40px;
  --main-padding-inline: 10px;
  --large-gap: 50px;
  --gap-small: 10px;
  --gap-medium: 20px;

  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --header-footer-color: #db00ff;

  --header-footer-shadow: 4px 4px 0 var(--accent-color);
  --link-shadow: 2px 2px 0 var(--accent-color);

  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --color-primary: #ff0070;
  --color-primary-40: rgba(255, 0, 112, 0.4);
  --secondary-color: #000028;

  --rec-visibility: visible;
}

@media (width >= 768px) {
  :root {
    --header-footer-padding: 20px;
    --main-padding-block: 60px;
    --main-padding-inline: 20px;
    --large-gap: 80px;
  }
}
