:root {
  --font-family: "IBM Plex Mono", sans-serif;
  --header-footer-padding: 10px;
  --main-padding-block: 40px;
  --main-padding-inline: 10px;
  --large-gap: 50px;
  --gap-small: 10px;
  --gap-medium: 20px;
}
